body {
    font-size: 25px;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.75em;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 87%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 33%);
    border: 0.10em solid hsl(0, 0%, 87%);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(109, 109, 109);
}

#Overlay {
    position: fixed;
    transition: 500ms;
    z-index: 110;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    user-select: none;
}

#Overlay.Active {
    backdrop-filter: blur(5px);
    pointer-events: all;
    user-select: none;
}

#TopBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: black;
}

#SocialMedias {
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

.Icon {
    opacity: 1;
    max-width: 4vw;
    z-index: 101;
    cursor: pointer;
}

#Email {
    color: white;
}

#Numbers {
    color: white;
}

#GeneralIntroduction {
    height: 85vh;
    display: flex;
    place-items: center;
    padding: 5%;
}

#GeneralIntroContent {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1%;
    border-radius: 10px;
}

#ColtandJakeIntros {
    background-image: url('blured.png');
    background-size: 100%;
}

#ColtIntroduction {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

#LilBroPic {
    max-width: 20%;
    z-index: 5;
}

#ColtIntroductionContent {
    padding-left: 2%;
    max-width: 30%;
    display: grid;
    place-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#JakeIntroduction {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 4%;
}

#JakeIntroductionContent {
    padding-left: 2%;
    max-width: 30%;
    display: grid;
    place-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#JakePic {
    max-width: 20%;
    z-index: 5;
}

.Invisible {
    opacity: 0;
}

.ScrollObject {
    animation-name: showUpAndSlide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 100ms;
    transition: opacity 1s;
    opacity: 1;
    transition-delay: 100ms;
}

.ScrollObjectDelay {
    animation-name: showUpAndSlide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 250ms;
    transition: opacity 1s;
    opacity: 1;
    transition-delay: 250ms;
}

.ScrollObjectDelay2 {
    animation-name: showUpAndSlide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 400ms;
    transition: opacity 1s;
    opacity: 1;
    transition-delay: 400ms;
}

.ScrollObjectDelay3 {
    animation-name: showUpAndSlide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 550ms;
    transition: opacity 1s;
    opacity: 1;
    transition-delay: 550ms;
}

#GeneralInfo {
    height: 70vh;
    outline-color: lime;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#PricesAndCars {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.TextRaise {
    position: absolute;

    transition-duration: 500ms;
    z-index: -1;
}

.Raise {
    transform: translate(20px, -50px);
}

.ModalButton {
    width: 20vw;
    height: 20vw;
    border: 2px solid rgb(103, 211, 236);
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.Grow {
    transition: 300ms all ease-out;
}

.Hover {
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ModalImage {
    max-width: 100%;
    max-height: 100%;
}

.ModalImage.Deactivated {
    pointer-events: none;
    user-select: none;
}

.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 400ms ease-in-out;
    border: 2px solid rgb(103, 211, 236);
    border-radius: 5px;
    z-index: 120;
    background-color: white;
    overflow-y: scroll;
    width: 1200px;
    height: 600px;
    max-width: 80%;
    max-height: 80%;
}

.Modal::-webkit-scrollbar-track {
    border-radius: 5px;
}

.Modal.Active {
    transform: translate(-50%, -50%) scale(1);
}

.CloseButton {
    outline: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.CloseButton:Hover {
    transform: rotate(90deg) scale(1.3);
}

.Header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderContent {
    font-size: 2rem;
    font-weight: bold;
}

.ModalContent {
    padding: 10px 15px;
}

.Prices {
    display: flex;
    justify-content: space-around;
}

#Footer {
    background-color: black;
    color: white;
    height: 20vh;
    padding: 3vh;
}

a {
    color: blue;
}

@keyframes showUpAndSlide {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}